VITE_API_URL=http://localhost:5000
VITE_GA_ID=
VITE_WHATSAPP_NUMBER=2348012345678
VITE_SITE_URL=https://sahlearn.com
VITE_FACEBOOK_URL=https://facebook.com/sahlearn
VITE_LINKEDIN_URL=https://linkedin.com/company/sahlearn
VITE_TWITTER_URL=https://twitter.com/sahlearn
VITE_YOUTUBE_URL=https://youtube.com/@sahlearn
VITE_INSTAGRAM_URL=https://instagram.com/sahlearn
VITE_GITHUB_URL=https://github.com/sahlearn
